{% set categories =  collections.categoryList %}
<nav role="navigation" aria-label="category navigation" >
  <span>Filter siswa dari jenis kelamin:</span>
  <ul>
    <li class="category__link {{ ' active' if page.url == '/about/'}}">
      <a class="category__link" 
        href="/about"
        {{ "aria-current" if page.url === "/about/" }}
          >semua</a>
    </li>
    {%- for category in categories %}
    {% set catUrl = ["/about/", category.key, "/" ] |  join %}
    <li class="category__link {{ ' active' if page.url == catUrl }}">
      <a href="{{ catUrl }}"
      {{ "aria-current" if page.url == catUrl }}>
        {{ category.key }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
