{% set socialImage = [metadata.url, metadata.image] | join %}
{% set title = "Kelas 9A" %}
  
<meta name="description" content="{{ metadata.description }}">
<meta name="author" content="{{ metadata.author.name }}">

<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://9a.palpale.xyz">
<meta property="og:description" content="{{ metadata.description }}">
<meta property="og:image" content="{{ socialImage  }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://9a.palpale.xyz">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ metadata.description }}">
<meta name="twitter:image" content="socialImage">

