---
layout: page
title: "Siswa/Siswi"
eleventyNavigation:
    key: siswa/i
    order: 2
pagination:
  data: collections.blog
  size: 10
  alias: articles
---

<h1>{{ title }}</h1>
{% include "./_includes/components/categoryNav.njk" %}
<p>Daftar Siswa/Siswi Kelas 9A (XV)</p>

{% include "./_includes/components/articleList.njk" %}
